@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .suggestions{
    background-color: #fff;
    height: 10vh;
    width: " 100%";
    z-index: 1111;
  }
  select {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  }